* {
    margin: 0;
    padding: 0;
}
.card {
    width: 300px;
    height: 500px;
    background-color: aqua;
    border: 1px solid #000000;
    border-radius: 20px;
    overflow: hidden;
}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: blueviolet;
}
.txtContainer {
    height: 60%;
    background-color: burlywood;
}
.profile {
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    border-radius: 50%;
}
.title {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-bottom: 5px dotted red;
    margin: 0 10px 0 10px;
}
.intro {
    margin: 20px;
    height: 70%;
    overflow-y: scroll;
}