* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 300px;
    height: 500px;
    display: grid;
    grid-template-rows: 3fr 1fr 4fr;
    justify-items: center;
    align-items: center;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    overflow: hidden;
}

header {
    background-color: peachpuff;
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.name {
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
    width: 80%;
    align-self: end;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    overflow-y: scroll;
    width: 250px;
    height: 200px;
}